:root {
  --pastel-blue: #7899d4;
  --opal: #bad1cd;
  --royal-purple: #7d5ba6;
}

button.bottom {
  width: 100px;
  height: 30px;
  background-color: var(--opal);
  color: var(--royal-purple);
  font-size: medium;
  font-weight: 400;
  border-radius: 5px;
  border-style: inset;
  border: groove 10px var(--royal-purple);
  margin: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form > input {
  background-color: antiquewhite;
  color: black;
  width: 300px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  border-style: inset;
  border-top: 10px inset var(--opal);
  border-right: 10px inset var(--royal-purple);
  border-bottom: 10px inset var(--pastel-blue);
  border-left: 10px inset var(--royal-purple);
}
