@import '~antd/dist/antd.css';

:root {
  --dark-purple: #700548;
  --light-blue: #7899D4;
  --light-purple: #8332AC;
  --beige: #F2D1C9;
  --background-purple:  #372248;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

div.App {
  background-color: var(--background-purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
  margin: 5x;
  color: var(--beige)
}

header {
  display: flex;
  width: 92vw;
  height: 150px;
  margin: 0px;
  padding: 20px;
  border: double var(--dark-purple) 20px;
  align-items: center;    
  justify-content: space-around ;
  background-image: url(beach-g51cd0a526_1920.jpg); 
  background-position-y: center;
  background-position-x: center;
  background-size: 100%;
}
Button.home {
  width: 200px;
  height: 50px;
  background-color: var(--dark-purple);
}

Button.resources {
  width: 200px;
  height: 50px;
  background-color: var(--dark-purple);
}

h2 {
  color:var(--beige)
}

div.posted-quote {
  color:var(--beige)
}

div.posted-quote > h3 {
  color: antiquewhite
}

div.posted-quote {
  display: flex;
  height: 75px;
  flex-direction: column;
  margin: 20px;
}

.quote-box {
  border: double #19647E 20px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items:center; 
  width: 600px;
}

.posted-quote{
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-self: baseline;
}   

div.quote-box > h3 {
  font-size: 20pt;
}

div.quote-box > p {
  font: 15pt;
}

