@import '~antd/dist/antd.css';

:root {
  --dark-purple: #700548;
  --light-blue: #7899D4;
  --light-purple: #8332AC;
  --beige: #F2D1C9;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

div.App {
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content:first baseline;
  flex-direction: column;
  padding: 50px;
  margin: 5x;
  color: var(--dark-purple)
}

header {
  display: flex;
  width: 100vw;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: double var(--dark-purple) 20px;
  align-items:center;
  justify-content: space-between;
}

div.nav-container {
  background-image: url(beach-g51cd0a526_1920.jpg);
} 